<!DOCTYPE html>
<html>
<head>
    <title>Panpedia</title>
    <!-- Link com o script dos ícones do site Fontawesome -->
    <script src="https://kit.fontawesome.com/9b32426a3d.js" crossorigin="anonymous"></script>
    <!-- Definição do ícone da página -->
    <link rel="short icon" href="/public/images/123.png" type="image/x-icon">
    <!-- Inclusão do arquivo CSS externo -->
    <link rel="stylesheet" type="text/css" href="/public/css/styleMetadados.css">
    <!-- Inclusão da biblioteca Jquery externo -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" crossorigin="anonymous"></script>
    <!-- Inclusão do arquivo Javascript externo -->
    <script src="../script.js"></script>
</head>
<body>
    <!-- Exibição do menu lateral e definição da função de onClick, usada para exibir ou esconder o menu -->
    <div id="menuLateral" class="menuLateral">
        <a href="javascript:void(0)" class="botaoFechar" onclick="fecharNav()">&times;</a>
        <h2 class="procura">O QUE VOCÊ PROCURA?</h2>
        <!-- guia da sidebar para o usuário acessar diversas páginas do site -->
        <a href="paginaDeFav.html">MEUS FAVORITOS</a>
        <a href="https://www.google.com" target="_blank">DATA LITERACY</a>
        <a href="https://www.google.com" target="_blank">DATA LAKE</a>
        <a href="https://www.google.com" target="_blank">SOLICITAR ACESSO AO DATA LAKE OU SDBX</a>
        <!-- quando o usuário é da governança, adiciona página de sugestão que é restrito para a governança de dados -->
        <% if (permissao == "governanca") { %>
            <a class="botaoAlteracoes" href="/busca/<%= permissao %>/sugestoes" id="pagSug">GOVERNANÇA DE DADOS</a>
        <% } %>
        <!-- adiciona botão dark mode -->
        <h3 class="procura">Dark Mode</h3>
        <div class="formatacao">
            <label class="alavanca">
                <input type="checkbox" id="bolabtn" onclick='funcaoDarkMode()'>
                <span class="bola botao"></span>
            </label>
        </div>
    </div>

            <!-- Exibição do botão de abrir o side bar e definição da função onClick -->
        <div class="barraMenu">
                <button class="iconeMenu" onclick="abrirNav()"><i class="fa-sharp fa-solid fa-bars fa-2x"></i></button>
        </div>
        <!-- Exibição da header com barra de pesquisa e logo do Panpedia -->
            <div class="header">
                <div class="pesquisaDiv">
                    <form method="get" action="/busca/<%=permissao%>/saida/0">
                        <i class="fa-solid fa-magnifying-glass fa-2x"></i>
                        <input type="text" name="pesquisa" id="inputBusca" required class="pesquisa" placeholder="Digite sua busca...">
                        <button id="botaoPesquisa" type="submit">Buscar</button>
                    </form>
                </div>
                <div>
                    <!-- adiciona arquivos ejs a página -->
                    <a href="/busca/<%=permissao %>"><img src="/public/images/panpedia_logo_adobe_express.svg" alt="Logo Do Panpedia" id="logo"></a>
                    <a href="/busca/<%=permissao %>"><img src="/public/images/LogoPanpediaDarkmode.svg" alt="Logo Do Panpedia" id="imagem3"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Exibição dos breadcrumbs, demonstrando o caminho do usuário. -->
    <div class="caminho">
        <a href="/busca/<%=permissao%>">Página Inicial</a>
        <p>></p>
        <% for (const saidas of model) { %>
            <a href="/busca/<%=permissao%>/saida/0">Busca</a>
        <% } %>
        <p>></p>
        <a>Metadados</a>
    </div>
    <!-- Exibe o título da página abaixo dos breadcrumbs -->
    <div class="metadados">
        <% for (const metadados of model) { %>
            <div class="metadadosItem">
                <h2><%= metadados.TABELA %></h2>
                <div id="lblFav">
                    <i id="btnFav" class="fa-regular fa-bookmark fa-lg"></i>
                    <input type="button" id="inpFav" value="FAVORITAR">
                </div>
            </div>
            <div id="descricao">
                <p><strong>Descrição: </strong><%= metadados.CONTEUDO_TABELA%></p>
            </div>
            <div class="tituloPagina">
                <!-- Cada label abre uma aba diferente de metadados -->
                <div class="mydict">
                    <div>
                        <label>
                            <input type="radio" name="radio" checked="">
                            <span>Campos</span>
                        </label>
                        <label>
                            <input type="radio" name="radio">
                            <span>Tabela</span>
                        </label>
                        <label>
                            <input type="radio" name="radio">
                            <span>Fonte de Dados</span>
                        </label>
                        
                    </div>
                </div>
            </div>       
            <div id="divTabela">
                <!-- títulos da descrição das tabela -->
                <table id="tabela">
                    <tr id="colunas">
                    <th>Nome do Campo</th>
                    <th>Tipo do Campo</th>
                    <th>Tipo da Pessoa</th>
                    <th>Descrição do Campo</th>
                    <th>Chave Primária</th>
                    <th>Null</th>
                    <th>UNQ</th>
                    <th>Volátil</th>
                    <th>LGPD</th>
                    </tr>
                    <% for (const variavel of variaveis) { %>
                    <tr>
                    <td><%= variavel.NOME_CAMPO %></td>
                    <td><%= variavel.TIPO_CAMPO %></td>
                    <td><%= variavel.TIPO_PESSOA %></td>
                    <td><%= variavel.DESCRICAO_CAMPO %></td>
                    <td><%= variavel.CH_PRIMARIA %></td>
                    <td><%= variavel.NULL %></td>
                    <td><%= variavel.UNQ %></td>
                    <td><%= variavel.VOLATIL %></td>
                    <td><%= variavel.LGPD %></td>
                    </tr>
                    <% } %>
                </table>
        <% } %>
            </div>
    <!-- Cria os triângulos do background. -->
    <div class="container" id="triangulo1">
            <div id="triangulo2"></div>
    </div>
    <div id="triangulo3"></div>
    <!-- Exibe o footer contendo a logo do banco pan -->
    <footer>
       <button class="btnLapis">
            <i class="fa-solid fa-pencil"></i>Sugerir Alteração
        </button>
        <button class="btnMao">
            <i class="fa-regular fa-hand-point-up"></i><a href="https://aws.amazon.com/pt/">Solicitar Acesso</a>
        </button>
        <div class="popup-wrapper">
            <div class="popup">
                <div class="popup-close">x</div>
                <div class="popup-content">
                    <% for (const metadados of model) { %>
                    <br>
                    <p>Tabela:</p>
                    <h4><%= metadados.TABELA %></h4>
                    <input>
                    <input>
                    <input>
                    <input>
                    <a class="popup-link" href="#">Enviar</a>
                </div>
            </div>
        </div>
        <% } %>
        <!-- Exibe a logo do Pan -->
        <img src="/public/images/logoBancoPanMin.svg" class="logoPanMenor" alt="Logo Banco Pan" id="imagem2">
        <img src="/public/images/logoMinPanDarkMode.svg" class="logoPanMenor" id="imagem4">
    </footer>
        <!-- Atrela o script do JS ao HTML -->
<script>

/*PopUp*/
const button = document.querySelector('.btnLapis')
const popup = document.querySelector('.popup-wrapper')

button.addEventListener('click', () => {
    popup.style.display = 'block'
})

popup.addEventListener('click', event => {
    const classNameOfClickedElement = event.target.classList[0]

    if (classNameOfClickedElement === 'popup-close' || classNameOfClickedElement === 'popup-link' || classNameOfClickedElement === 'popup-wrapper') {
        popup.style.display = 'none'
    }
    
})

// function substituirInformacoes(tabelaId, cabecalhoId, novasInformacoes, novosCabecalhos) {
//     var tabela = document.getElementById(tabelaId);
//     var cabecalho = tabela.querySelector(`tr#${cabecalhoId}`);
//     var linhas = tabela.getElementsByTagName('tr');

//     // Remove as linhas existentes
//     while (linhas.length > 1) {
//         tabela.deleteRow(1);
//     }

//     // Remove as células do cabeçalho existentes
//     while (cabecalho.cells.length > 0) {
//         cabecalho.deleteCell(0);
//     }

//     // Adiciona as novas informações como células no cabeçalho
//     for (var i = 0; i < novosCabecalhos.length; i++) {
//         var novaCelulaCabecalho = document.createElement('th');
//         novaCelulaCabecalho.textContent = novosCabecalhos[i];
//         cabecalho.appendChild(novaCelulaCabecalho);
//     }

//     // Adiciona as novas informações como linhas na tabela
//     for (var i = 0; i < novasInformacoes.length; i++) {
//         var novaLinha = tabela.insertRow();
//         for (var j = 0; j < novasInformacoes[i].length; j++) {
//         var novaCelula = novaLinha.insertCell();
//         novaCelula.textContent = novasInformacoes[i][j];
//         }
//     }
// }
    /*Cria a barra de pesquisa, botão de busca e os filtros */
    const searchInput = document.getElementById('inputPesquisa');
    const searchBtn = document.getElementById('botaoPesquisa');
    var darkMode = false
    /* adiciona o botão e a função dark mode, dependendo do modo claro e escuro muda as figuras */
    $(document).ready(function() {
        darkMode = localStorage.getItem("darkMode")==="true";
        $('#imagem3').hide()
        $('#imagem4').hide()
        var checkbox = document.getElementById("bolabtn");
        checkbox.checked = darkMode;

        var element = document.body;
        if (darkMode) {
            $('#logo').hide()
            $('#imagem3').show()
            $('#imagem2').hide()
            $('#imagem4').show()
            element.classList.add("darkMode");
        } else {
            $('#logo').show()
            $('#imagem3').hide()
            $('#imagem2').show()
            $('#imagem4').hide()
        }
    });

    function funcaoDarkMode() {
        var element = document.body;
        if (darkMode === false) {
            $('#logo').hide()
            $('#imagem3').show()
            $('#imagem2').hide()
            $('#imagem4').show()
            darkMode = true
            console.log('darkMode', darkMode)
            localStorage.setItem("darkMode", darkMode);
            element.classList.add("darkMode");
        } else {
            $('#logo').show()
            $('#imagem3').hide()
            $('#imagem2').show()
            $('#imagem4').hide()
            darkMode = false
            localStorage.setItem("darkMode", darkMode);
            element.classList.remove("darkMode");
        }
    }

/* Abre a overlay do menu lateral */ 
function abrirNav() {
    document.getElementById("menuLateral").style.width = "250px";
    console.log('foi')
}

/* Fecha o overlay do menu lateral */
function fecharNav() {
    document.getElementById("menuLateral").style.width = "0";
}


</script>
<script src="busca.js"></script>
</body>
</html>

