<!DOCTYPE html>
<html>
<head>
    <title>Panpedia</title>
    <!-- Link com o script dos 칤cones do site Fontawesome -->
    <script src="https://kit.fontawesome.com/9b32426a3d.js" crossorigin="anonymous"></script>
    <!-- Defini칞칚o do 칤cone da p치gina -->
    <link rel="short icon" href="/public/images/123.png" type="image/x-icon">
    <!-- Inclus칚o do arquivo CSS externo -->
    <link rel="stylesheet" type="text/css" href="/public/css/styleResultados.css">
    <!-- Inclus칚o da biblioteca Jquery externo -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" crossorigin="anonymous"></script>
    <!-- Inclus칚o do arquivo Javascript externo -->
    <script src="/public/js/script.js"></script>
</head>
<body>
    <%- include('../atalhos/sidebar')%>

     <!-- Exibi칞칚o do bot칚o de abrir o side bar e defini칞칚o da fun칞칚o onClick -->
     <div class="barraMenu">
        <button class="iconeMenu" onclick="abrirNav()"><i class="fa-sharp fa-solid fa-bars fa-2x"></i></button>
</div>
<!-- Exibi칞칚o da header com barra de pesquisa e logo do Panpedia -->
    <%- include('../atalhos/header')%>

</div>
</div>
<!-- Exibi칞칚o dos breadcrumbs, demonstrando o caminho do usu치rio. -->
<div class="caminho">
<a href="/busca/<%=permissao%>">P치gina Inicial</a>
<p>></p>
<a>Favoritos</a>
</div>
<!-- Exibi칞칚o da lista de filtros -->
<div class="conteudo">
<div class="caixaFiltros">
    <!-- adiciona os bot칫es de filtros -->
    <h2 class="filtrarpor"><i class="fas fa-filter"></i>Filtrar por:</h2>
    <ul class="filtros">
        <li><i class="fas fa-book"></i> Assunto</li>
        <li><i class="fa-sharp fa-solid fa-eye-slash"></i> Dados sens칤veis</li>
    </ul>
</div>
<!-- adiciona os resultados da pesquisa a p치gina de pesquisa  -->
<div class="resultados">
<% if (model.length > 0) { %>
<% for (const saidas of model) { %>
    <div class="resultadoItem">
        <a href="/busca/<%= permissao %>/saida/0/metadados?ID_DADOS_TABELAS=<%= saidas.ID_DADOS_TABELAS%>&TABELA=<%= saidas.TABELA%>"><h2><%= saidas.TABELA %></h2></a>
        <p><%= saidas.CONTEUDO_TABELA %></p>
    </div>
<% } %>
<% } else { %>
<h2>Voc칡 ainda n칚o favoritou nenhuma tabela 游눖 </h2>
<% } %>
<!-- divide todos os resultados da pesquisa em mais p치ginas -->
<% if (model.length > 9) { %>
<div class="paginacao">
<% if (limit > 0) { %>
<form method="get" action=<%= prev %>>
    <button id="pagAnt"><i class="fa-sharp fa-solid fa-chevron-left"></i>P치gina anterior</button>
</form>
<% } %>
<form method="get" action=<%= next %>>
    <button id="proxPag"></i>Pr칩xima p치gina<i class="fa-sharp fa-solid fa-angle-right"></i></button>
</form>
</div>
<% } %>
</div>
</div>
</body>
</html>